@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-center text-danger">@ViewData["Title"]</h1>
<h2 class="text-center text-danger mt-5">@Model</h2>
<div class="d-flex justify-content-center mt-4">
    <a onclick="window.history.back()" class="btn btn-primary text-white">Go Back</a>
</div>

@*<h2 class="text-danger">An error occurred while processing your request.</h2>*@
