@*@model MB.ViewModels.Oblasts.OblastsNamesViewModel
@{ ViewData["Title"] = "All Monuments"; }

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<div class="container-fluid mx-auto row mt-5 mb-5">
    <section class="col-3 mb-5">
        <ul class="list-group">
            @foreach (string name in Model.OblastsNames)
            {
                <li onclick="renderOblastInfo('@name')" class="list-group-item bg-dark font-weight-bold">
                    <a class="text-white-50">@name</a>
                </li>
            }
        </ul>
    </section>
    <section class="col-9 d-flex justify-content-center mb-5">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th id="oblastName" colspan="2" class="text-center font-weight-bold h5">(Name)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="font-weight-bold">Land Area:</th>
                        <td id="oblastLandArea">(Land Area)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Population:</th>
                        <td id="oblastPopulation">(Population)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Population Density:</th>
                        <td id="oblastPopulationDensity">(Population Density)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Municipalities Count:</th>
                        <td id="oblastMunicipalitiesCount">(Municipalities Count)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Description:</th>
                        <td id="oblastDescription">(Description)</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-5">
                <button id="viewMonuments" href="#" class="btn btn-primary text-white" disabled>View Monuments</button>
            </div>
        </div>
    </section>
</div>

@section JavaScript {
    <script src="~/js/oblasts.js"></script>
}*@