@page
@model ForgotPasswordModel
@{ ViewData["Title"] = "Forgot your password?"; }

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center mt-5">
    <section class="col-6 text-dark">
        <h4 class="text-center">Enter your email.</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
