@model IEnumerable<MB.ViewModels.Oblasts.OblastAllViewModel>
@{ ViewData["Title"] = "All Oblasts"; }

<h1 class="text-center text-dark">@ViewData["Title"]</h1>

<div class="container-fluid mx-auto row mt-5 mb-5">
    <section class="col-3 mb-5">
        <ul class="list-group">
            @foreach (var oblast in Model)
            {
                <li onclick="renderOblastInfo('@oblast.Name', '@oblast.Id')" class="list-group-item bg-dark font-weight-bold">
                    <a class="text-white-50">@oblast.Name</a>
                </li>
            }
        </ul>
    </section>
    <section class="col-9 d-flex justify-content-center mb-5">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th id="oblastName" colspan="2" class="text-center font-weight-bold h5">(Name)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="font-weight-bold">Land Area:</th>
                        <td id="oblastLandArea">(Land Area)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Population:</th>
                        <td id="oblastPopulation">(Population)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Population Density:</th>
                        <td id="oblastPopulationDensity">(Population Density)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Municipalities Count:</th>
                        <td id="oblastMunicipalitiesCount">(Municipalities Count)</td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Description:</th>
                        <td id="oblastDescription">(Description)</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-around mt-5">
                <a id="viewMonuments" class="btn btn-dark disabled">View Monuments</a>
                <a id="viewHotels" class="btn btn-dark disabled">View Hotels</a>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/oblasts.js"></script>
}